@model online_store.Models.tblcategory

@{
    ViewBag.Title = "AddCategorie";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Add Categories</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.catname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.catname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Categories" class="btn btn-primary" />
            <p class="text-primary"> @ViewBag.msg</p>
        </div>
    </div>
</div>
}
